/* Color Variables */
:root {
    --navBar: #00FFC2;
    --navBarDark: #FF0095;
    --jumbotron: #A5A6F6;
    --jumbotronDark: #002553;
    --footer: #5D5FEF;
    --footerDark: #21252B;
    --bodyDark: #282C34;
}

/* .card-container {
    display: flex;
    justify-content: space-around;
} */

/* .card-img-top { */
    /* width: 100%;
    aspect-ratio: 1;
    /* background-size: contain; */ 
    /* object-fit: cover;
    width: 100%;
    height: 250px;
} */

body {
    font-family: 'poppins', sans-serif !important;
}

/* .carousel-control-next, .carousel-control-prev {
    width: 5%;
} */

/* UIKit style goes here */
.uk-active {
    padding-left: 80px;
    padding-right: 35px;
    padding-bottom: 35px; 
}

.uk-card {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #EDEDED;
}

.recipe-button {
    display: flex;
    justify-content: center;
}

.uk-card-media-top {
    width: 100%;
    padding: 15px;
    object-fit: cover;
    height: 70%;
}

.uk-card-body {
    display: block;
    padding: 10px;
    text-align: center;
}

img.rounded-corners {
    border-radius: 20px;
}
/* Header */

.jumbotron {
    max-width: 100%;
    margin: 0rem !important;
    background-color: var(--jumbotron) !important;
    color: #fff;
    font-size: 300px;
    text-align: center;
    padding: 30px !important;
    
}

.navbar {
    margin-bottom: 40px;
    background-color: var(--navBar);
    justify-content: center !important;
    flex-direction: column-reverse;
}

.navbar a {
    margin: 0px 40px 0px 40px;
}

.jumbotron h1 {
    font-size: 100px;
}

.jumbotron .lead {
    margin-top: 20px;
}

/* Footer */


.a {
    text-decoration: none;
    color: var(--a);
}

.footer {
    position:static;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.footer i {
    transition: all 0.3s ease;
    color: white !important;
    margin-left: 5px;
}

.footer a:link { text-decoration: none; }

.footer i:hover {
    transform: scale(1.1);
} 

.footer {
    display: flex;
    background-color: var(--footer);
    padding: 20px;
    justify-content: center;
    align-items: center;
    font-size: 0px;
}

.footer h6 {
    color: #fff;
}
/* Modal */

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* Modal footer */

.fa-thumbs-up {
    margin-right: 5px;
}

.fa-thumbs-down {
    margin-right: 5px;

}

.modal-footer {
    display: flex;
    justify-content:space-between
}

.modal-footer i {
    text-align: center;
    margin-top: 5px;
}


.left-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-success {
    margin-right: 5px;
    background-color: #00FFC2;
    color: black;
    border-style: none;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
}

.btn-success span {
    margin-left: 3px;
}

.btn-danger {
    background-color: #FF0095;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
}

.btn-danger span {
    margin-left: 3px;
}

/* Close Button */
.btn-light {
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
    margin-left: 5px;
}

#clear-buttons {
    text-decoration: none;
    border-style: none;
    font-size: 20px;
    margin-left: 10px;
    color: #A0A7B7;
}

#clear-buttons:hover {
    color: black;
}

/* Modal Body */

.modal-top img {
    border-radius: 15px;
    width: 450px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
}

.modal-bottom ul {
    margin-top: 20px;
    font-weight:lighter;
}

.modal-bottom i {
    margin-left: 5px;
}

.modal-bottom h4 {
    margin-top: 20px;
}

.recipe {
    margin: 20px 0px 0px 0px
}

.recipe-text {
    margin-top: 10px;
    font-weight: lighter;
}

/* media query below */


/* @media (max-width: 480px)  */
/* { for small mobile devices } */

/* @media (min-width: 768px) and (max-width: 1024px)  */
/* { for portrait tablets } */

/* @media (min-width: 1024px) and (max-width: 1280px)  */
/* { for landscape tablets } */

/* @media (min-width: 1440px)  */
/* { for large desktops } */



